// Typo
$mainFont: "Raleway",
"Montserrat",
Helvetica,
sans-serif;


// Font Sizes
$font-size-2xs: 12px;
$font-size-xs: 13px;
$font-size-ms: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 25px;
$font-size-2xl: 30px;
$font-size-3xl: 40px;

$font-size-desktop-s: 20px;
$font-size-desktop-m: 24px;
$font-size-desktop-xl: 35px;
$font-size-desktop-2xl: 45px;

// MQ
$desktopWidth: 1280px;
$smDesktopWidth: 1120px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;



// Grid
.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding-left: 65px;
    padding-right: 65px;
}

// Tablet
@media (max-width: $tableWidth) {
    .wrapper {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
    }

    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

// Tablet   
@media (max-width: $phoneWidth) {
    .wrapper {
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}