.clients {

    @include section-mb;

    &__heading {
        width: 68%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.clients-item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 39px #F7F7F8;
    border-radius: 5px;

    width: 920px;
    margin: 0 auto;
    min-height: 374px;


    &__col-1 {
        background-color: rgb(255, 255, 255);
        max-width: 345px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-right: 6px solid #5FEADA;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        max-width: 262px;
        width: 100%;
        margin: 0 auto;
    }

    &__col-2 {
        background-color: rgb(255, 255, 255);
        padding-top: 53px;
        padding-bottom: 50px;
        padding-left: 28px;
        padding-right: 25px;
        box-sizing: border-box;
    }

    &__logo-wrapper {
        max-width: 160px;
        width: 100%;
    }

    &__img-wrapper {
        margin-bottom: 56px;
    }

    &__text-wrapper {
        display: flex;
        justify-content: space-between;

        // width: 95%;
        &--narrow {
            width: 200px;
            margin-left: 40px;
        }
    }

    &__text {
        // width: 99%;
        font-family: "Raleway";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #31384E;
    }
}

.chart-thumb {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #31384E;

    &--grey {
        background: #C4C4C4;
    }

    &--blue {
        background: #4B7CF8;
    }
}