.clients {

    @include section-mb;

    &__heading {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.clients-item {
    display: flex;
    justify-content: space-between;
    // background-color: #5FEADA;

    box-shadow: 0px 4px 39px #F7F7F8;
    border-radius: 5px;

    width: 920px;
    margin: 0 auto;



    &__col-1 {
        background-color: rgb(255, 255, 255);

        // flex-basis: 345px;
        // flex-basis: 264px;
        // flex-basis: 49%;
        // width: 445px;

        max-width: 345px;
        width: 100%;
        box-sizing: border-box;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 45px;
        padding-right: 35px;
        border-right: 6px solid #5FEADA;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    &__content {
        max-width: 262px;
        width: 100%;
        margin: 0 auto;
    }

    &__col-2 {
        background-color: rgb(255, 255, 255);
        // flex-basis: 51%;
        padding-top: 53px;
        padding-bottom: 50px;
        padding-left: 28px;
        padding-right: 25px;
        // width: 100%;
        box-sizing: border-box;
    }

    &__img-wrapper {
        margin-bottom: 56px;
    }

    &__text-wrapper {
        display: flex;
        justify-content: space-around;

        &--narrow {
            width: 200px;
            margin-left: 40px;
        }
    }

    &__text {
        width: 160px;
        font-family: "Raleway Medium";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #31384E;
    }
}

.chart-thumb {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #31384E;

    &--grey {
        background: #C4C4C4;
    }

    &--blue {
        background: #4B7CF8;
    }
}


// .swiper-button-prev,
// .swiper-button-next {
//     content: "→";
//     width: 40px;
//     height: 40px;
//     border: 1px solid #FF820C;
//     border-radius: 100%;
//     padding: 4px;
//     text-align: center;
// }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    // width: 40px;
    // height: 40px;
    // background: linear-gradient(101.75deg, #FF6201 0%, #FFA216 98.58%);
    // border: 1px solid #FF800B;
    // background-color: rgba(255, 130, 11, 0.05);
    // border-radius: 100%;
    color: #FF800B;
    position: absolute;
    top: 240px;
    content: '→';
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {

    right: 0px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {

    left: 0px;
}