.team {
    @include section-mb;

    &__heading {
        text-align: left;
        margin-bottom: 60px;
    }
}


@media (max-width: $tableWidth) {
    .team {

        &__heading {
            text-align: center;
            margin-bottom: 60px;
        }
    }

}

@media (max-width: $smTablet) {}

@media (max-width: $xlPhoneWidth) {}