body {
  // width: 100%;
  // max-width: 2060px;
  margin: 0 auto;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p,
li {
  @include main-text;
}

button {
  outline: none;
}

// input[type='number'] {
//   -moz-appearance: none;
//   -webkit-appearance: none;
// }